= t(@task.priority, scope: [:task, :view])
br
= t(:title, scope: [:task, :view])
= @task.title
br
= t(:content, scope: [:task, :view])
= @task.content
br
= t(:end_time, scope: [:task, :view]) 
= @task.end_time_format
br
= t(:status, scope: [:task, :view])
= t(@task.status, scope: [:task, :view])
br
= link_to t(:back_link, scope: [:task, :view]), tasks_path